body {
	background: #fff;
  color: #222;
  font-family: arial , sans-serif;
  font-size: 13px;
  text-align: center;
  margin: 0;
  padding: 0;
}

/*Nav*/

.nav {
	list-style: none;
	text-align: right;
	padding: 10px 0;
}

.nav li {
	display: inline-block;
	padding-right: 20px;
}

.nav li a {
	text-decoration: none;
	color: #000;
}

#google-app {
	height: 21px;
	width: 21px;
	top: 4px;
	padding: 0;
	position: relative;
	opacity: 0.55;
}

#bell {
	height: 30px;
	width: 30px;
	padding-left: 0px;
	top: 9px;
	position: relative;
	opacity: 0.55;
}

#google-app:hover {
	opacity: 1;
}

#bell:hover {
	opacity: 1;
}

.text-link:hover {
	text-decoration: underline;
}

.img-container {
  justify-content: center;
  padding-top: 109px;
  position: center;
}

/*Body*/

.googlelogo {
	width: 272px;
	height: 92px;
	position: relative;
	text-align: center;
}

.search-bar {
	box-shadow: 2px 1px 1px #ccc8c8;
	margin-top: 20px;
}

.search-field {
    display: block;
	width: 632px;
	padding: 2px 0 3px 0;
	margin: auto;
	font-family: arial,sans-serif;
    color: #222;
    font-size: 18px;
    padding-left: 10px;
    height: 35px;
    width: 500px;
}

.button {
	display: block;
	margin-top: 35px;
}

.search-button {
    background-color: #f1f1f1;
    font-size: 13px;
    font-weight: bold;
    color: #757575;
    border: 1px solid #f1f1f1;
    padding: 11px 16px;
    text-align: center;
    display: inline-block;
    font-family: arial,sans-serif;
    margin: 11px 4px;
}

.search-button:hover {
	color: black;
	border: solid 1px #d8d5d5;
	box-shadow: .1px 1px 1px #ccc8c8;
}

/*Footer*/

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #f1f1f1;
	display: inline-block;
	width: 100%;
}

.tp-ft {
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
}

.tp-ft-ul {
	padding-left: 20px;
}

.tp-ft li {
	color: rgba(0,0,0,.54);
	font-size: 15px;
	line-height: 40px;
	text-align: left;
	margin: 0 15px;
}

.btm-ft {
	display: inline-block; 
	background-color: #f1f1f1;
	width: 100%
}

.lft-ft {
	padding-left: 25px;
}

.lft-ft-a {
	list-style: none;
	float: left;
	margin: 13px 10px;
}

.lft-ft-a:hover {
	text-decoration: underline;
}

.rght-ft {
	padding-right: 25px;
}

.rght-ft-a {
	list-style: none;
	float: right;
	margin: 13px 10px;
}

.rght-ft-a:hover {
	text-decoration: underline;
}

footer nav ul li a {
	text-decoration: none;
	color: #757575;
}














